/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

#search {
    margin-top: 10px;
    padding: 0.5rem;
    width: 80%;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 1rem;
}

main {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

aside {
    width: 20%;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#categories,
#tags {
    list-style-type: none;
    padding: 0;
}

#categories li,
#tags li {
    margin-bottom: 0.5rem;
    cursor: pointer;
    color: #007bff;
}

#categories li:hover,
#tags li:hover {
    text-decoration: underline;
}

section#posts {
    width: 60%;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.post {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 1rem;
}

.post:last-child {
    border-bottom: none;
}

.post h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #343a40;
}

.post p {
    margin-top: 0;
    color: #6c757d;
}

.comment {
    margin-left: 1.5rem;
    border-left: 2px solid #007bff;
    padding-left: 1rem;
    color: #6c757d;
}
